$grey: darkgoldenrod;
$yellow: goldenrod;
$subtitle-size: 28px;

.navbar {
  height: 10vh;
  padding: 0px 20px;
  display:flex;
  align-items: center;
  
  .title {
    font-size: $subtitle-size;
  }
  .chip {
    height: 35px;
    font-size: 17px;

  }
  .navbar-section, .dropdown {
    display: flex;
    align-items: center;
    padding-top: 4px;
    a, chip-link {
      color: $grey;
      text-decoration: none;
      // font-family: sans-serif;
    }
    a:hover, chip-link:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}
