$title: 'Kaushan Script', sans-serif;
$text: 'Open Sans', sans-serif;
$yellow: goldenrod;
$grey: #4d4d4d;
$title-size: 30px;
$subtitle-size: 28px;
$subtitle-second-size: 22px;
$paragraph-size: 18px;

.storyshow {
  margin:30px 10px;
  .btn-link {
    color: $yellow;
  }
}

.storyshowimage {
  height: auto;
  width: 50vw;
 
}